body
{
    margin:0;
    background-color: rgb(224, 224, 210);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

table
{
    
    margin-top: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}
td
{
    text-align:center;
    margin-top:10px;
    background-color: rgb(240,192,48);
    display: block;
    color: rgb(0, 0, 0);
    height:50px;
    transition-duration: 0.5s;
    padding-top:15px;
    font-weight: 400;
    
}
td.right
{
    background-color: aqua;
}
td:hover
{
    transition-duration: 0.4s;
    
    background-color:rgb(216,144,24);
    color: white;
    cursor: pointer;
    text-shadow: 2px 4px 10px black;
    font-size: 1.2rem;
    overflow: hidden;
    
}
@media only screen and (min-width: 70em) 
{
    table
    {
        top:50%;
        margin-left: 17%;
        margin-right: 10%;
    }
    td
    {
        display:table-cell;
        width: 400px;
        margin-right: 10px;
        float:left;
        overflow: hidden;
    }

    td:hover
    {
        transition-duration: 0.2s;
        background-color:rgb(216,144,24);
        color: white;
        cursor: pointer;
        
        font-size: 1rem;
        padding-top:11px;
        padding-bottom:5px;
    }
    #ingr
    {
        overflow: visible;
    }
}
#modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    border: 1px solid black;    
    padding:10px;    
    width: 75%;
    height: 60%;
    z-index: 10;
    overflow: hidden;

    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#beer_name
{
    
    margin-top:10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    float:left;
    width: 100%;
}
#close
{
    font-size: 150%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem; 
}
img
{
    background-color: white;    
    padding: 30px;
    height:25rem;
    
    z-index:2;
    position: sticky;
    
}
#img
{
    height:100%;
    float:left;
}
#container
{
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#title
{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    padding-left:20px;
    color: #fff;
    z-index: 11;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 3px 5px 5px black;
}
#food_title
{
    width:80%;
    font-weight:bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
#description
{
    padding-left:30%;
}
#ingr
{
    padding-left:10%;
    overflow: scroll;
    height: 50%;
}