body
{
    margin:0;
    /*background-color: rgb(73, 26, 26)*/
}

table
{
    border: 1px;
    border-color: black;
    max-width: 400px;
    border-spacing: 10px;
}
tr
{
    border-collapse: collapse;
    text-align:center;
    vertical-align: middle;
    margin-top:40px;
    background-color: rgb(240,192,48);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    height:40px;
    
    
}
tr:hover
{
    transition-duration: 0.4s;
    background-color:rgb(216,144,24);
    color: white;
    cursor: pointer;
}

/* popup for show beer assigned to selected food*/

